enum CatGender
{
	CatUnknown,
	CatMale,
	CatFemale
};

enum CatEyeColor
{
	CatUnknownEyeColor,
	CatBrownEyeColor,
	CatBlueEyeColor ,
	CatHazelEyeColor ,
	CatGreenEyeColor ,
	CatAmberEyeColor ,
	CatGrayEyeColor ,
	CatVioletEyeColor ,
	CatRedPinkEyeColor,
	CatBlackEyeColor 
};
enum CatHairColor
{
	CatUnknownHairColor,
	CatBlackHairColor ,
	CatBrownHairColor ,
	CatBlondeHairColor ,
	CatRedHairColor ,
	CatGrayHairColor ,
	CatWhiteHairColor ,
	CatAuburnHairColor,
	CatChestnutHairColor 
};