enum ChildGender
{
	ChildUnknown,
	ChildMale,
	ChildFemale
};

enum ChildEyeColor
{
	UnknownEyeColor,
	BrownEyeColor,
	BlueEyeColor ,
	HazelEyeColor ,
	GreenEyeColor ,
	AmberEyeColor ,
	GrayEyeColor ,
	VioletEyeColor ,
	RedPinkEyeColor,
	BlackEyeColor 
};
enum ChildHairColor
{
	UnknownHairColor,
	BlackHairColor ,
	BrownHairColor ,
	BlondeHairColor ,
	RedHairColor ,
	GrayHairColor ,
	WhiteHairColor ,
	AuburnHairColor,
	ChestnutHairColor 
};