		ChildName name;  
		ChildGender gender ;
        long long mother;
		long long father;
		ChildAge age;
		float weight;   
		float hight;    
		ChildEyeColor eyeColor; 
		ChildHairColor hairColor; 

