enum DogGender
{
	DogUnknownGender,
	DogMale,
	DogFemale
};

enum DogEyeColor
{
	DogUnknownEyeColor,
	DogBrownEyeColor,
	DogBlueEyeColor ,
	DogHazelEyeColor ,
	DogGreenEyeColor ,
	DogAmberEyeColor ,
	DogGrayEyeColor ,
	DogVioletEyeColor ,
	DogRedPinkEyeColor,
	DogBlackEyeColor 
};
enum DogHairColor
{
	DogUnknownHairColor,
	DogBlackHairColor ,
	DogBrownHairColor ,
	DogBlondeHairColor ,
	DogRedHairColor ,
	DogGrayHairColor ,
	DogWhiteHairColor ,
	DogAuburnHairColor,
	DogChestnutHairColor 
};