enum UnitsOfMeasure
{
    UnknownUM,
    Meter,
    Inch ,
    Foot ,
	Yard ,
	Gram ,
	Kilogram ,
	Pound ,
	Ounce ,
	SquareFoot,
	Liter,
	Gallon ,
	Quart 
};

enum Category
{
     UnknownCat,
	 Groceries,
	 Meet,
	 Produce,
	 Dairy,
	 Poultry,
	 Seafood,
	 Bakery,
	 Snacks ,
	 Beverages,
	 Alcohol
};