enum MaritalStatus
{
    UnknownMaritalStatus,
	Maried,
    Divorced,
    Single,
	Widow
};
enum Relasionship
{
	UnknownRelasionship,
	Husband,
	Wife,
	GrandFather,
	GrandMother,
	Uncle,
	Aunt
};
enum PersonGender
{
	PeronUnknown,
	PersonMale,
	PersonFemale
};

enum PersonEyeColor
{
	PersUnknownEyeColor,
	PersBrownEyeColor,
	PersBlueEyeColor ,
	PersHazelEyeColor ,
	PersGreenEyeColor ,
	PersAmberEyeColor ,
	PersGrayEyeColor ,
	PersVioletEyeColor ,
	PersRedPinkEyeColor,
	PersBlackEyeColor 
};
enum PersonHairColor
{
	PersUnknownHairColor,
	PersBlackHairColor ,
	PersBrownHairColor ,
	PersBlondeHairColor ,
	PersRedHairColor ,
	PersGrayHairColor ,
	PersWhiteHairColor ,
	PersAuburnHairColor,
	PersChestnutHairColor ,
	PersBlueHairColor 
};