		PersonName name;  
		PersonGender gender; 
		PersonAge age;
		MaritalStatus maritalStatus; 
		long long spouse;
		Relasionship relasionship;   
        char address1 [41];   
        char address2 [21];
		char city  [21];    
		char state  [3];    
		char zip [6];   
		char job[20];    
		float weight;   
		float hight;    
		PersonEyeColor eyeColor; 
		PersonHairColor hairColor; 
